.container {
  width: 1000px;
  height: 600px;
  border: 1px solid black;
  display: flex;
}

.left {
    flex: 0 0 55%;
  background-color: white;
}
.right {
    flex: 0 0 45%;
  background-color: rgb(250, 129, 129);
}
.left .left-header {
  width: 40%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.nav1:hover{
  color: #e54141;
  text-decoration:underline;

}

.left-header h1{
    color: black;
}
.left-content{
    text-align: center;
    align-items: center;
    margin-top: 200px;
    margin-left: 2px;
    font-size: 13px;
}
.girl{
    position: absolute;
  top: 39%;
  left: 22%;
  transform: translate(-50%, -50%);
  width: 340px;
  z-index: 10;
}
.nav2 {
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
  color: white;
  border-radius: 10px 20px;
  margin-right: 60px;
  
}
.nav2 li{
    padding: 15px 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 3px solid white;
}
.nav1{
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 20px;
  margin-left: 170px;
  position:absolute ;
  top: 2px;

}

.right-content{
    text-align:center;
    color: white;
    height: 20px;
    font-size: 13px;
    margin-top: 100px;

}
.right-content .sub{
    font-size: 20px;
   
}

.right-content .view{
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    color: red;
    border-color: white;
    padding: 4%;
}

.left-content .sub{
  text-decoration: underline;
  font-size: 20px;
}

.sub2:hover{
  text-decoration: underline;
  color: red;
}